.navbar {
  background-color: #ccc;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.navbar a {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
